---
version: '2'

services:
  web:
    build: .
    links:
    - postgres
    ports:
    - 8000:8000
    volumes:
    - .:/work
    restart: on-failure
    command: /work/wait-for-it.sh postgres:5432 --timeout=0 --strict -- bash -c "python3 manage.py migrate && python3 manage.py createcachetable && python3
      manage.py runserver 0.0.0.0:8000"
    environment:
      GOOGLE_OAUTH2_KEY: ${GOOGLE_OAUTH2_KEY:-dummy-key}
      GOOGLE_OAUTH2_SECRET: ${GOOGLE_OAUTH2_SECRET:-dummy-secret}
      OAUTHLIB_INSECURE_TRANSPORT: 1

  postgres:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
