django ~= 2.2
dj-database-url
psycopg2
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
icalendar
requests
iso8601
python-dateutil

# Heroku
gunicorn
whitenoise

# Managing this file
pip-tools