django
dj-database-url
psycopg2-binary
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
icalendar
requests
iso8601
python-dateutil
gunicorn
whitenoise
pre-commit
watchdog[watchmedo]==2.1.7

django-stubs
mypy
types-python-dateutil
types-requests
