{% extends 'base.html' %}
{% block content %}
<div class="row">
 <div class="col s12 m6 offset-m3">
  {% if user is None %}
  <a class="btn btn-primary" href="{{ auth_url }}">Login to Google</a>
  {% else %}
  <h3>Hi {{ user.name }}!</h3>
  <a class="btn btn-primary" href="">Add new shared calendar</a><br />
  <br />
  <table class="table table-bordered table-hover">
    <!-- <thead>
      <tr>
        <th></th>
      </tr>
    </thead> -->
    <tbody>
      {% for cal in g_calendars %}
      <tr>
        <td>Google: {{ cal.name }}</td>
      </tr>
      {% endfor %}
      {% for cal in i_calendars %}
      <tr>
        <td>{{ cal.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  {% endif %}
 </div>
</div>
{% endblock %}
