{% extends 'base.html' %}
{% load calendar_tags %}
{% block content %}
<div class="row">
 <div class="col s12 m6 offset-m3">
  {% if user is None %}
  <a class="btn btn-primary" href="{{ auth_url }}">Login to Google</a>
  {% else %}
  <h3>Hi {{ user.name }}!</h3>
  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
  <form action="{% url 'update_access' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><a class="btn btn-primary" href="{% url 'add_merged_calendar' %}">Add new merged calendar</a></th>
          {% for cal in m_calendars %}
          <th><a href="{% url 'merged_calendar' cal.id %}">{{ cal.name }}</a></th>
          {% endfor %}
        </tr>
      <tbody>
        {% for cal in g_calendars %}
        <tr>
          <td>Google: {{ cal.name }}</td>
          {% for m_cal in m_calendars %}
          <td>{% access cal m_cal %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% for cal in i_calendars %}
        <tr>
          <td>{{ cal.name }}</td>
          {% for m_cal in m_calendars %}
          <td>{% access cal m_cal %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr><td colspan="{{ m_calendars|length|add:'1' }}"><input id="save-changes" class="btn btn-success form-control" disabled type="submit" value="Save changes" /></td></tr>
      </tbody>
    </table>
  </form>
  <a class="btn btn-primary" href="{% url 'add_calendar' %}">Add new iCal calendar</a><br />
  {% endif %}
 </div>
</div>
<script>
  $(".access-view").change(function(event){
    console.log("foo");
    event.preventDefault();
    $('#save-changes').removeAttr("disabled");
 });
</script>
{% endblock %}
