{% extends 'base.html' %}
{% load calendar_tags %}
{% block content %}
<div class="row">
 <div class="col s12 m6 offset-m3">
  {% if user is None %}
  <a class="btn btn-primary" href="{{ auth_url }}">Login to Google</a>
  {% else %}
  <h2>Calendars for {{ user.name }}</h2>
  <form action="{% url 'update_access' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><a class="btn btn-primary" href="{% url 'add_merged_calendar' %}">Add new merged calendar</a></th>
          {% for cal in m_calendars %}
          <th><a href="{% url 'merged_calendar' cal.id %}">{{ cal.name }}</a></th>
          {% endfor %}
        </tr>
      <tbody>
        {% for cal in g_calendars %}
        <tr>
          <td>Google: {{ cal.name }}</td>
          {% for m_cal in m_calendars %}
          <td>{% access cal m_cal %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% for cal in i_calendars %}
        <tr>
          <td>{{ cal.name }}&nbsp;<a class="btn btn-danger mb-2 delete-button" href="#" data-url="{% url 'delete_calendar' cal.id %}">Delete</a></td>
          {% for m_cal in m_calendars %}
          <td>{% access cal m_cal %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr><td colspan="{{ m_calendars|length|add:'1' }}"><input id="save-changes" class="btn btn-success form-control" disabled type="submit" value="Save changes" /></td></tr>
      </tbody>
    </table>
  </form>
  <a class="btn btn-primary" href="{% url 'add_calendar' %}">Add new iCal calendar</a><br />
  {% endif %}
 </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $(".access-view").change(function(event){
      console.log("foo");
      event.preventDefault();
      $('#save-changes').removeAttr("disabled");
    });
    $(".delete-button").click(function(event) {
      event.preventDefault();
      var url = $(event.target).data("url");
      var form = $("<form action=\"" + url + "\" method=\"POST\">{% csrf_token %}</form>");
      $(document.body).append(form);
      form.submit();
    });
  });
</script>
{% endblock %}
