{% extends 'base.html' %}
{% block content %}
<div class="row">
 <div class="col s12 m6 offset-m3">
    <h2>Merged calendar</h2>
    <form action="{% url 'merged_calendar' mc.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="form-control btn btn-primary" type="submit" value="Submit" />
    </form>
    <form action="{% url 'delete_merged_calendar' mc.id %}" method="post">
        {% csrf_token %}
        <input class="form-control btn btn-danger" type="submit" value="Delete merged calendar" />
    </form>
    <br />
    <span class="h3">iCal Url</span><span class="h4">: <a href="{{ url }}">{{ url }}</a></span>
    <hr />
    <h4>Calendar preview</h4>
    <div id='calendar'></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true,
                eventLimit: true,
                eventTextColor: 'white',
                events: {
                    url: '{% url 'merged_calendar_json' mc.id %}',
                    error: function(e) {
                        console.log('there was an error while fetching events!');
                        console.log(e);
                    },
                }
            });
        });
    </script>
 </div>
</div>
{% endblock %}