{% extends 'base.html' %}
{% load calendar_tags %}
{% block content %}
<div class="row">
 <div class="col s12 m6 offset-m3">
    <h2>Merged calendar</h2>
    <form action="{% url 'merged_calendar' mc.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="form-control btn btn-primary" type="submit" value="Submit" />
    </form>
    <form action="{% url 'delete_merged_calendar' mc.id %}" method="post">
        {% csrf_token %}
        <input class="form-control btn btn-danger" type="submit" value="Delete merged calendar" />
    </form>
    <br />
    <span class="h3">iCal Url</span><span class="h4">: <a href="{{ url }}">{{ url }}</a></span> (<a href="{% url 'guide' %}" target="_blank">How do I use this?</a>)
    <hr />
    <h4>Access list</h4>
    <form action="{% url 'update_access_merged' mc.id %}" method="post">
        {% csrf_token %}
        <ul>
            {% for cal in user.g_calendars.all %}
            <li>Google: {{ cal.name }}: {% access cal mc %}</td>
            {% endfor %}
            {% for cal in user.i_calendars.all %}
            <li>{{ cal.name }}: {% access cal mc %}</td>
            {% endfor %}
        </ul>
        <input id="save-changes" class="btn btn-success form-control" disabled type="submit" value="Save changes" />
    </form>
    <h4>Calendar preview</h4>
    <div id='calendar'></div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true,
                eventLimit: true,
                eventTextColor: 'white',
                firstDay: 1,
                events: {
                    url: '{% url 'merged_calendar_json' mc.id %}',
                    error: function(e) {
                        console.log('there was an error while fetching events!');
                        console.log(e);
                    },
                }
            });
            $(".access-view").change(function(event){
                event.preventDefault();
                $('#save-changes').removeAttr("disabled");
            });
        });
    </script>
 </div>
</div>
{% endblock %}